$orange:  rgba(255, 138, 0, 1);
$white:  rgba(255, 255, 255, 1);
$black: rgba(49, 31, 9, 1);
$gray:rgba(208, 204, 199, 0.1);
$green:#3FA72F;
$darkbrown:rgba(92, 69, 41, 1);
$lightgreen:  rgba(63, 198, 110, 0.1);
$milk:rgba(255, 244, 231, 1);







